@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Special Elite";
    src: url("./fonts/SpecialElite-Regular.ttf") format("woff");
}

@font-face {
    font-family: "Poppins Bold";
    src: url("./fonts/Poppins-Bold.ttf") format("woff");
}

@font-face {
    font-family: "Poppins Bold Italic";
    src: url("./fonts/Poppins-BoldItalic.ttf") format("woff");
}